{% extends "base.html" %}

{% block header %}
{%endblock%}

{%block body%}

<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">

    <!-- Form code begins -->
    <form method="post">
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
      </div>
      <div class="form-group"> <!-- Submit button -->
        <button class="btn btn-primary " name="submit" type="submit">Submit</button>
      </div>
     </form>
     <!-- Form code ends -->
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
    </div>
  </div>
 </div>
</div>

<div class="bgimg-2">
  <div style="text-align: left", class="caption">
        <span class="span_text_bottom">Create Custom Queries (This page is under construction.  Don't expect anything to work yet.)</span>
      <p>
      <form action="http://www.google.com" method="GET">
      From Date: <input type="text" id="datepicker">
      To Date: <input type="text" id="datepicker2">
          <input type = 'submit' value = 'Submit'>
      </form>
      <label for="Foundation">Foundations available</label>
      <select name='Foundation'>
            <option value="AI020009Z00ML">AI020009Z00ML</option>
            <option value="AI020000MC201">AI020000MC201</option>
            <option value="AI020000M0002">AI020000M0002</option>
            <option value="AI020000M0001">AI020000M0001</option>
            <option value="AI020000LDY01">AI020000LDY01</option>
        </select>





  </div>
</div >
{%endblock %}

