{% extends "base.html" %}

{% block header %}
{%endblock%}

{%block body%}

<div class="bgimg-2">
  <div style="text-align: left", class="caption">
        <span class="span_text_bottom">What is Skynet</span>
            <p>
                Here is some stuff I want to talk about.  You have come to the best place in the world!  Be here, stay here!
            </p>
            <ul>
                <li>Here is a thing</li>
                <li>This is another thing</li>
                <li>I really want to talk about that thing!</li>
                <li>Oh, and that thing, too!</li>
            </ul>

    <span class="span_text_bottom">Contacts:</span>
      <ul>
          <li>The Boss of all Things: <strong>Jonathan Turner</strong></li>
          <li>The Gatherer of all Data: <strong>Frank Conway</strong></li>
          <li>The Presenter of all Data: <strong>Arno Jones</strong></li>
      </ul>

  </div>
</div >
{%endblock %}



