{% extends "base.html" %}

{% block header %}
{%endblock%}

{%block body%}
<div class="jumbotron">
    <p class="lead"><span class="span_text_bottom">What is Skynet</span>
    <p>
        Here is some stuff I want to talk about.
    </p>
    <ul>
        <li>A Query that is worded like "Games Tested" means how many times the game was loaded and test cases were run
            against it.
        </li>
        <li>A Query that is worded like "Games Played" means how many times the Play button (or equivalent) was hit.
        </li>
    </ul>
    </p>
    <hr class="my-4">
    <p><span class="span_text_bottom">Contacts:</span>
    <ul>
        <li>The Boss of all Things: <strong>Jonathan Turner</strong></li>
        <li>The Gatherer of all Data: <strong>Frank Conway</strong></li>
        <li>The Presenter of all Data: <strong>Arno Jones</strong></li>
    </ul>
    </p>
    <a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>
</div>
{%endblock %}



